.sidebar {
    position: fixed;
    width: 300px;
    height: 100%;
    top: 0;
    left: 0;
}
.main-content {
    margin-left: 300px;
    @media (max-width: 767px) {
        margin-left: 0;
        margin-top: 5rem;
    }
}
.btn-outline-danger {
    margin-bottom: 2rem;
}

#mobileSidebar {
    .offcanvas-title {
        font-size: 2.2rem;
    }
    .offcanvas-header {
        background: #f8f9fa;
        padding-left: 2rem;
    }
    .offcanvas-body {
        background: #f8f9fa;
    }
    a.nav-link.link-dark {
        font-size: 1.3rem;
    }
    a.nav-link.link-dark {
        width: 100% !important;
    }
}
.d-flex.flex-column.bg-light.vh-100.p-3 {
    width: 100% !important;
    height: 100% !important;
}
.fs-4 {
    font-size: calc(1.5rem + 0.3vw) !important;
    color: #000000;
    font-weight: 600;
}
nav.navbar.navbar-dark.bg-dark.d-md-none.fixed-top {
    padding-right: 0 !important;
}
div#mobileSidebar {
    width: 100%;
}
button.btn-close.text-reset {
    font-size: 1.5rem;
}
.card {
    .table {
        border-radius: 0 !important;
    }
}
@media (max-width: 768px) {
    .table-responsive {
        border-radius: 0;
    }
}

// mark attendance page css starts

.mark-attendence-page {
    .py-4 {
        margin-left: 300px;
        padding: 3%;
        @media (max-width: 767px) {
            margin-left: 0;
            margin-top: 5rem;
        }
    }
}
